@import "tailwindcss";

/* Ультратонкие (100) */
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-UltralightItalic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}

/* Тонкие (200) */
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-Thin.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-ThinItalic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}

/* Легкие (300) */
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

/* Обычные (400) */
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-RegularItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

/* Средние (500) */
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

/* Полужирные (600) */
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-SemiboldItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

/* Жирные (700) */
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

/* Тяжелые (800) */
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-Heavy.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-HeavyItalic.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
}

/* Черные (900) */
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SF-Pro-Display-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

@theme {
    --font-inter: "Inter", sans-serif;
    --font-caramel: "Caramel", cursive;
    --font-sf: "SF Pro Display", sans-serif;
    --font-sans: "SF Pro Display", ui-sans-serif, system-ui, sans-serif;
    --color-brand: #c5bbd7;
    --color-brand-light: #d1c7e2;
}

@theme {
    --breakpoint-sm: 22.5rem;
    --breakpoint-lg: 86.25rem;
    --breakpoint-xl: 120rem;
    --breakpoint-2xl: 160rem;
}
#root {
    background-color: #dbd6d6;
    overflow: hidden;
}

.perspective {
    perspective: 1000px;
}
.preserve-3d {
    transform-style: preserve-3d;
}
.backface-hidden {
    backface-visibility: hidden;
}
.rotate-y-180 {
    transform: rotateY(180deg);
}
